.nav-container {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  background-color: #242424;
  border-bottom: 0.2rem solid slateblue;
}

.nav {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

.nav button {
  display: flex;
  align-items: center;
  height: 50px;
  background: slateblue;
}

.nav button img {
  margin-right: 1rem;
}

.nav img {
  color: white !important;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-content .language-btn {
  background-color: transparent;
}

.nav-content .language-active {
  border: 1px solid slateblue !important;
}
.social-icons {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .nav-content button span {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .nav-content button {
    padding: 0.2rem;
    margin: 0rem;
    height: auto;
  }
  .nav-content a img {
    width: 25px !important;
  }
  .social-icons {
    display: none;
  }
}
